#visualization-options > div {
    margin:10px;
}

#tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    height: 70px;
    
}
.hidden {
    display: none;
}

#graph-tooltip{
    background-color: yellow;
    position:absolute;
}

#graph-tooltip .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}