select {
    margin: 25px 0 50px 250px;
}
#contries-checkbox-group, #pie {
    float: left;
    margin-left: 50px;
}
.countries-checkbox {
    margin-top: 20px;
}
.hidden {
    display: none;
}
#tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    height: 40px;
}
